.main {
  width: 100%;
  height: 1000px;
  // background-color:pink;
  border: 3px solid #73ad21;
  font-size: 15px;
}

//=================
// navigation bar
.header {
  height: 80px;
  top: 1px;
  margin-top: 3px;
  position: sticky;
  background-color: rgb(128, 138, 139);
  z-index: 2;
  opacity: 0.8;
}

.header__content {
  max-width: 1096px;
  margin: 0 auto;
}

.site__title {
  // background-color: purple;
  float: left;
  z-index: 100;
  text-align: center;
  position: relative;
  line-height: 1;
}

.site__title__content {
  font-size: 25px;
  margin: 38px 0 0 0;
}

.site__nav {
  background-color: rosybrown;
  float: right;
}

.site__nav__menu {
  // margin:0;
  display: block;
  float: left;
}

.nav__options {
  display: inline-block;
  margin: 20px 10px 10px;
  text-align: center;
  line-height: 1;
}

a {
  text-decoration: none;
}

// navigation bar end

//==========================
// main content

.main__content {
  //margin-top: 20px;

  background-color: green;
}

.home__page {
  height: auto;
  max-width: 1032px;
  background-color: red;
  margin: 0 auto;
  border-radius: 15px;
  overflow: visible;
  padding: 40px;

  visibility: visible;
}

.home__page__header {
  // width: 100%;
  //height: 306px;
  background-color: pink;
  border-radius: 15px;
}

.photo {
  min-width: 280px;
  min-height: 250px;
  background: url(/Images/img_avatar2.png) no-repeat center;
  background-size: cover;
}

.name__section {
  border: 3px solid white;
  //width: 642px;
  background-color: greenyellow;
  // height: 191px;
  min-height: 100px;
  //position: relative;
  //top: 40px;
  //right: 30px;
}

.name__title {
  text-align: center;
  //font-size: 30px;
  margin-top: 20px;
}

// social media
.social__media {
  // margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 40px;
  background-color: #007bb5;
}

.fa {
  padding: 10px;
  width: 35px;
  // text-align: center;
  // text-decoration: none;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background-color: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.col-sm-6,
.col-md-6,
.col-lg-6 {
  background-color: #3b5998;
  border: 2px solid red;
}

.about__me {
  padding: 10px;
}

.info__list {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.info__list__items {
  margin: 5px 0;
}

.key {
  display: inline-block;

  min-width: 80px;
}

.value {
  display: inline-block;
  color: #9e9e9e;
}

.copyrights {
  text-align: center;
  margin: 10px;
  background-color: cadetblue;
  font-size: 12px;
}
