$page__title__color: pink;

$shadow__1: rgba(0, 0, 0, 0.1);
$shadow__2: rgba(0, 0, 0, 0.2);

$font__white: white;
$font__green: lightgreen;
$font__black: black;
$font__gray: gray;

$border__gray: gray;
$border__green: lightgreen;

$mask__background: rgba(79, 86, 94, 0.6);
$contact__icon__background: rgba(35, 22, 100, 0.1);
$facebook__blue: #3b5998;
$linkedin__blue: #007bb5;
$google_red: #dd4b39;

$background__white: white;
$background__gray: gray;
$background__green: #2eca7f;
