* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  font-size: 15px;
  position: relative;
}

.page__header {
  margin-top: 3px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: gray;
  z-index: 2;
}

.header__content {
  max-width: 1096px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.site__title {
  z-index: 100;
  position: relative;
}

.site__title__content {
  font-size: 25px;
}

.site__nav__menu {
  padding: 0;
  margin: 0;
}

.nav__options {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-bottom: 3px solid gray;
}

.nav__options:hover {
  border-bottom: 3px solid lightgreen;
}

.links {
  color: black;
  opacity: 0.6;
  text-decoration: none;
}

.links:hover {
  color: black;
  opacity: 1;
  text-decoration: none;
  outline: 0;
}

.nav__icon {
  display: none;
}

.mobile__nav {
  position: fixed;
  top: 70px;
  right: 0;
  width: 100%;
  max-width: 100px;
  height: calc(100% - 70px);
  background-color: gray;
  z-index: 10;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 991px) {
  .site__nav__menu {
    display: none;
  }
  .nav__icon {
    display: block;
    margin-right: 20px;
  }
  .nav__options {
    display: block;
    margin: 20px auto;
  }
  .mobile__nav {
    display: block;
  }
}

.active {
  opacity: 1;
  outline: 0;
  text-decoration: none;
  border-bottom: 3px solid lightgreen;
}

.hidden {
  display: none;
}

.main__content {
  margin-top: 10px;
}

.subpage {
  height: auto;
  max-width: 1032px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: visible;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.page__title {
  background-color: pink;
  border-radius: 15px 15px 0 0;
  margin-bottom: 25px;
  padding: 40px;
  text-align: center;
}

.photo {
  min-width: 280px;
  min-height: 250px;
  background: url(/src/assets/img/img_avatar2.png) no-repeat center;
  background-size: cover;
  margin-bottom: -60px;
  vertical-align: baseline;
}

.name__title {
  text-align: center;
  margin: 70px 0 20px 0;
}

.social__media {
  text-align: center;
  margin: 20px;
}

.fa {
  padding: 10px;
  width: 35px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background-color: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.info__list {
  list-style: none;
  padding: 0;
}

.info__list__items {
  margin: 5px 0;
}

.key {
  display: inline-block;
  min-width: 80px;
}

.value {
  display: inline-block;
  color: #9e9e9e;
}

.copyrights {
  text-align: center;
  margin: 10px 0;
  background-color: cadetblue;
  font-size: 12px;
}

.page__content {
  padding: 0 40px 30px 40px;
}

.block__title {
  margin-top: 20px;
}

.timeline {
  border-left: 2px solid #e0e0e0;
  margin-top: 20px;
}

.timeline__item {
  position: relative;
  padding: 15px 20px 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-left: 2px solid #2eca7f;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.timeline__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -29px;
  border: 2px solid #2eca7f;
  z-index: 2;
}

.timeline__item::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #2eca7f;
  border-radius: 10px;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.skills__container {
  border: 1px solid #e0e0e0;
  height: 15px;
  width: 100%;
  overflow: hidden;
  margin: -5px 0 10px 0;
}

.skills__percent {
  background-color: #2eca7f;
  height: 15px;
}

.skills__1 {
  width: 88%;
}

.skills__2 {
  width: 75%;
}

.skills__3 {
  width: 60%;
}

.service__block {
  text-align: center;
  margin-bottom: 30px;
}

.service__icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 28px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.service__icon:hover {
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service__1 {
  background: url(/src/assets/img/web_design_icon.png) no-repeat center;
  background-size: 60px 64px;
}

.service__2 {
  background: url(/src/assets/img/photography_icon.png) no-repeat center;
  background-size: 60px 64px;
}

.service__3 {
  background: url(/src/assets/img/creativity_icon.png) no-repeat center;
  background-size: 60px 64px;
}

.service__4 {
  background: url(/src/assets/img/advertising_icon.png) no-repeat center;
  background-size: 60px 64px;
}

.client__block {
  opacity: 0.5;
}

.client__block:hover {
  opacity: 1;
}

.client__image {
  display: block;
  max-width: 80px;
  height: 80px;
  background: url(/src/assets/img/client_1.png) no-repeat center;
  background-size: 100% 100%;
  margin: 20px auto;
}

.blog__card {
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.blog__card:hover {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.blog__card:hover .mask {
  visibility: visible;
}

.blog__link, .blog__link:hover {
  color: black;
  text-decoration: none;
}

.blog__image {
  height: 200px;
  background: url(/src/assets/img/blog_post_1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.blog__title {
  padding: 10px;
  text-align: center;
}

.mask {
  width: 100%;
  height: 100%;
  background: rgba(79, 86, 94, 0.6);
  visibility: hidden;
}

.mask::after {
  content: "\f0f6";
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */