* {
  box-sizing: border-box;
}

.main {
  border: 3px solid #73ad21;
  font-size: 15px;
}

//=================
// navigation bar
.header {
  height: 70px;
  margin-top: 3px;
  position: sticky;
  background-color: rgb(128, 138, 139);
  z-index: 2;
  opacity: 0.8;
  line-height: 70px;
}

.header__content {
  max-width: 1096px;
  margin: 0 auto;
}

.site__title {
  float: left;
  z-index: 100;
  position: relative;
}

.site__title__content {
  font-size: 25px;
}

.site__nav {
  float: right;
}

.site__nav__menu {
  margin: 0;
}

.nav__options {
  display: inline-block;
  margin-right: 20px;
  color: black;
}

.nav__icon {
  display: none;
}

// mobile navigation
.mobile__nav {
  position: fixed;
  top: 70px;
  right: 0;
  width: 100%;
  max-width: 100px;
  height: calc(100% - 70px);
  background-color: brown;
  z-index: 10;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .site__nav__menu {
    display: none;
  }
  .nav__icon {
    display: block;
    margin-right: 20px;
  }
  .nav__options {
    display: block;
  }
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

.active {
  background: white;
  border-bottom-color: white;
}

.hidden {
  display: none;
}
//==== navigation bar end ====

//==========================
// main content
.main__content {
  background-color: green;
}

.home__page {
  height: auto;
  max-width: 1032px;
  background-color: red;
  margin: 0 auto;
  border-radius: 15px;
  overflow: visible;
  padding: 40px;
}

.home__page__header {
  background-color: pink;
  border-radius: 15px;
}

.photo {
  min-width: 280px;
  min-height: 250px;
  background: url(/src/assets/img/img_avatar2.png) no-repeat center;
  background-size: cover;
  border-radius: 15px;
}

.name__section {
  border: 3px solid white;
  background-color: greenyellow;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.name__title {
  text-align: center;
  margin: 20px 0;
}

// social media
.social__media {
  text-align: center;
  margin: 20px;
  background-color: #007bb5;
}

.fa {
  padding: 10px;
  width: 35px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background-color: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.col-sm-6,
.col-md-6,
.col-lg-6 {
  background-color: #3b5998;
  border: 2px solid red;
}

.about__me {
  padding: 10px;
}

.info__list {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.info__list__items {
  margin: 5px 0;
}

.key {
  display: inline-block;

  min-width: 80px;
}

.value {
  display: inline-block;
  color: #9e9e9e;
}

.copyrights {
  text-align: center;
  margin: 10px 0;
  background-color: cadetblue;
  font-size: 12px;
}

// Home Page end
// ==================

// Resume Page start

.resume {
  height: auto;
  max-width: 1032px;
  background-color: red;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  padding: 40px;
}

.resume__header {
  background-color: lightgreen;
  text-align: center;
  padding: 30px 50px;
  margin: 0;
}
.resume__content {
  padding: 30px 50px 30px 50px;
}

.block {
  margin-top: 10px;
}

.timeline {
  border-left: 2px solid #e0e0e0;
  padding: 15px 0;
}

.timeline__item {
  position: relative;
  padding: 15px 20px 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-left: 2px solid #2eca7f;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -29px;
    border: 2px solid #2eca7f;
    z-index: 2;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #2eca7f;
    border-radius: 10px;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
  }
}

.skills {
  &__container {
    // background-color: white;
    border: 1px solid gray;
    height: 15px;
    width: 100%;
    overflow: hidden;
    margin: -5px 0 10px 0;
  }

  &__percent {
    background-color: green;
    height: 15px;
  }
  &__1 {
    width: 88%;
  }
  &__2 {
    width: 75%;
  }
  &__3 {
    width: 60%;
  }
}
